
@media (min-width: 11em) {
    #container{
        margin-left: 0em; 
        padding-top: 4em; 
    }
    
 }
@media (min-width: 42em) {
    #container{
        margin-left: 4em; 
        padding-top: 0em; 
    }
 }

 @media (min-width: 68em) {
    #container{
        margin-left: 15em;
        padding-top: 0em;  
    }
 }

 