
#header{
  font-family: "Dancing Script", cursive;
  width: 100%;
  text-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.3);
  font-size: 5rem;
  position: absolute;
  top: 21%;
  left: 37%;
  color: var(--ion-color-secondary);
}

ion-buttons{
  position: absolute;
  left:50%; 
  top:50%; 
  transform: translate(-50%, -50%);
}

ion-button{
  font-size: 1.3rem;
  border: 1px solid var(--ion-color-primary);
  border-radius: 1rem;
  font-weight: bold;
  padding: 7px;
}



@media only screen and (max-width: 1290px) {

  #header{
    font-size: 55px;
    left: 23%;
  }
}
