
#header{
  font-family: "Dancing Script", cursive;
  width: 100%;
  text-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.3);
  font-size: 5rem;
  position: absolute;
  top: 21%;
  left: 37%;
  color: var(--ion-color-secondary);
}

ion-buttons{
  position: absolute;
  left:50%; 
  top:50%; 
  transform: translate(-50%, -50%);
}

ion-button{
  font-size: 1.1rem;
  border: black 3px solid;
  padding: 3px;

}

ion-button:hover{
  border: teal 3px solid;
  box-shadow: 1px 2px rgba($color: #000000, $alpha: 0.6);
  color: rgb(23, 59, 59);
}

@media only screen and (max-width: 1290px) {

  #header{
    font-size: 55px;
    left: 23%;
  }
}
