

  <div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger">
        <ion-icon id="menu-icon" name="menu-outline"></ion-icon>
      </a>
    
      <nav class="s-sidebar__nav">
        <ul>
            <li>
              <img alt="logo" id="header_logo" height="100" width="400" float-left src="assets/images/logo.png">
            </li>
            <li>
               <a class="s-sidebar__nav-link" [routerLink]="['/main']">
                <ion-icon name="home" ></ion-icon><em>Home</em>
               </a>
            </li>
            <li>
               <a class="s-sidebar__nav-link">
                <ion-icon name="person"></ion-icon><em>My Profile</em>
               </a>
            </li>
            <hr>
            <li>
               <a class="s-sidebar__nav-link">
                <img alt="logo" height="23" width="29" src="assets/images/addNN.svg"><em>Create new model</em>
               </a>
            </li>
            <li>
              <a class="s-sidebar__nav-link">
                <img alt="logo" height="23" width="29" src="assets/images/addData.svg"><em>Upload new dataset</em>
              </a>
           </li>
           <li>
            <a class="s-sidebar__nav-link" [routerLink]="['/main/reg-machine']">
              <img alt="logo" height="23" width="29" src="assets/images/addMachine.svg"><em>Add your machine</em>
            </a>
         </li>
         <li>
          <a class="s-sidebar__nav-link" [routerLink]="['/main/update-machine']">
            <img alt="logo" height="23" width="29" src="assets/images/machine.png"><em>Update machine permission</em>
          </a>
         </li>
         <hr>
         <li>
          <a class="s-sidebar__nav-link" [routerLink]="['/home']">
            <ion-icon name="log-out"></ion-icon><em>Logout</em>
          </a>
         </li>
         </ul>
      </nav>
    </div>
    
    <!-- Content -->
    <main class="s-layout__content">
      <ion-router-outlet></ion-router-outlet>
    </main>
    </div>

