

  <div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger">
        <ion-icon id="menu-icon" name="menu-outline"></ion-icon>
      </a>
    
      <nav class="s-sidebar__nav">
        <ul>
            <li>
              <img alt="logo" id="header_logo" height="100" width="400" float-left src="assets/images/logo.png">
            </li>
            <li>
               <a class="s-sidebar__nav-link" >
                <ion-icon name="home"></ion-icon><em>Home</em>
               </a>
            </li>
            <li>
               <a class="s-sidebar__nav-link">
                 <i class="fa fa-user"></i><em>My Profile</em>
               </a>
            </li>
            <li>
               <a class="s-sidebar__nav-link">
                  <i class="fa fa-camera"></i><em>Camera</em>
               </a>
            </li>
         </ul>
      </nav>
    </div>
    
    <!-- Content -->
    <main class="s-layout__content">
      <ion-router-outlet></ion-router-outlet>
    </main>
    </div>

