ion-content{
    padding: 0;
    margin:0 ;
}
text {
    pointer-events: none;
  }
  
  .node:hover {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 4px;
  }
  
  .link {
    stroke: #999;
    stroke-opacity: .6;
  }

  figure{
    min-width: 14em;
    overflow: auto;
    padding-right: 0 !important;
    margin-top: 3.3rem;
    // height: 100%;
    padding-bottom: 3rem;
  }

  figure::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
    
    figure::-webkit-scrollbar
    {
        width: 10px;
        background-color: #F5F5F5;
    }
    
    figure::-webkit-scrollbar-thumb
    {
        background-color: #F90;	
        background-image: -webkit-linear-gradient(45deg,
                                                  rgba(255, 255, 255, .2) 25%,
                                                  transparent 25%,
                                                  transparent 50%,
                                                  rgba(255, 255, 255, .2) 50%,
                                                  rgba(255, 255, 255, .2) 75%,
                                                  transparent 75%,
                                                  transparent)
    }


.button:focus {
    outline: 0;
}

@media (max-width: 17em) {
    #bar{
        margin-left: 0em !important; 
        padding-top: 4em; 
    }
    
 }
@media (min-width: 42em) {
    #bar{
        margin-left: 4em; 
        padding-top: 0em; 
    }
 }

 @media (min-width: 68em) {
    #bar{
        margin-left: 16em;
        padding-top: 0em;  
    }
 }
