<ion-content>
  <figure id="bar"></figure>
  <ion-grid id="options">
    <ion-row>
      <ion-col
        size="4"
        size-md="2"
        class="ion-text-center ion-align-self-center"
      >
        <ion-icon class="arrow" name="arrow-forward"></ion-icon>
        <ion-button
          class="plus-btn"
          color="success"
          (click)="this.addNode(0)"
          fill="solid"
          shape="round"
        >          +
        </ion-button>
        <br />
        <ion-text color="primary"
          >Input Layers<br /><ion-badge color="secondary" mode="ios"
            >{{this.inputLayer}}</ion-badge
          >
          node{{this.inputLayer == 1 ? '' : 's'}}
        </ion-text>
        <br />
        <ion-button
          class="rm-btn"
          color="danger"
          (click)="this.removeNode(0)"
          fill="solid"
          shape="round"
        >
          -
        </ion-button>
        <br />
        <br />
        <br />
        <br />
        <br />

        <br />
        <br />
        <br />
        <br />
      </ion-col>
      <ion-col
        *ngFor="let hiddenLayer of this.hiddenLayers; let i = index"
        size="4"
        size-md="2"
        class="ion-text-center"
      >
        <ion-icon class="arrow" name="arrow-forward"></ion-icon>
        <ion-button
          class="plus-btn"
          color="success"
          (click)="this.addNode(i+1)"
          fill="solid"
          shape="round"
        >
          +
        </ion-button>
        <br />
        <ion-text color="secondary"
          >Hidden Layer {{i+1}}<br /><ion-badge color="secondary" mode="ios"
            >{{hiddenLayer}}</ion-badge
          >
          node{{hiddenLayer == 1 ? '' : 's'}}</ion-text
        >
        <br />
        <ion-button
          class="rm-btn"
          color="danger"
          (click)="this.removeNode(i+1)"
          fill="solid"
          shape="round"
        >
          -
        </ion-button>
        <br />

        <ion-label class="af">Activation function</ion-label>
        <br />
        <ion-select
          placeholder="Select"
          [value]="this.loadedModel.activations[i]"
          (ionChange) = "this.onActivationFunctionChange($event, i)"
        >
          <ion-select-option
            *ngFor="let af of this.modelService.getActivationFunctions()"
            value="{{af}}"
            >{{af}}</ion-select-option
          >
        </ion-select>
        <br>
        <ion-button (click)="this.removeLayer(i+1)" color="danger" expand="block" fill="solid" shape="round">
          Delete layer &nbsp; <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" size-md="2" class="ion-text-center">
        <ion-button
          class="plus-btn"
          color="success"
          (click)="this.addNode(this.hiddenLayers.length+1)"
          fill="solid"
          shape="round"
        >
          +
        </ion-button>
        <br />
        <ion-text color="tertiary"
          >Output Layers<br /><ion-badge color="secondary" mode="ios"
            >{{this.outputLayer}}</ion-badge
          >
          node{{this.outputLayer == 1 ? '' : 's'}}</ion-text
        >
        <br />
        <ion-button
          class="rm-btn"
          color="danger"
          (click)="this.removeNode(this.hiddenLayers.length+1)"
          fill="solid"
          shape="round"
        >
          -
        </ion-button>
        <br />

        <ion-label class="af">Activation function</ion-label>
        <br />
        <ion-select placeholder="Select"  [value]="this.loadedModel.activations[this.loadedModel.activations.length-1]">
          <ion-select-option
            [value]="af"
            *ngFor="let af of this.modelService.getActivationFunctions()"
            >{{af}}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-md="2">
        <ion-button color="success" (click)="onClick()" expand="block" fill="solid" shape="round">
          <ion-icon name="add"></ion-icon> &nbsp; Add Hidden Layer
        </ion-button>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-item>
          <ion-label>Regularization option</ion-label>
          <ion-select class="op" placeholder="Select"  [value]="this.loadedModel.regularization">
            <ion-select-option
              [value]="ro"
              *ngFor="let ro of this.modelService.getRegularizationOptions()"
              >{{ro}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-item>
          <ion-label>Training method</ion-label>
          <ion-select class="op tm" placeholder="Select"  [value]="this.loadedModel.trainingMethod">
            <ion-select-option
              [value]="tm"
              *ngFor="let tm of this.modelService.getTrainingMethods()"
              >{{tm}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-item>
          <ion-label>Optimization</ion-label>
          <ion-select class="op" placeholder="Select"  [value]="this.loadedModel.optimizer">
            <ion-select-option
              [value]="o"
              *ngFor="let o of this.modelService.getOptimizers()"
              >{{o}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="4" offset-md="2">
        <ion-item>
          <ion-label position="floating">Learning rate</ion-label>
          <ion-input step=0.1 type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-item>
          <ion-label position="floating">Epoch</ion-label>
          <ion-input step=10 type="number"></ion-input>
        </ion-item>
      </ion-col>
    
    </ion-row>
  </ion-grid>
</ion-content>
