<!-- <ion-header>
  <ion-toolbar>
    <ion-title>manage-data</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" >
          <button *ngIf="!this.machineRegistered()" class="btn third" [routerLink]="['/main/reg-machine']"> <ion-icon slot="start" name="add"></ion-icon> &nbsp; <span>Add machine</span> </button>         
          <button *ngIf="this.machineRegistered()" class="btn third" [routerLink]="['/main/update-machine']"> <span>Update machine permission</span> </button>         
          
        </ion-col>
        <ion-col size="6">  
          <button class="btn third"> <ion-icon slot="start" name="add"></ion-icon> &nbsp; <span>Add Data</span> </button>
         </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="11">
          <hr class="hr-text" data-content="Dataset List">
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 11%; margin-right: 9%;" *ngIf="this.datasets.length === 0" >
        <ion-col class="ion-text-center">
          <ion-text color="light"> No Dataset Uploaded Yet.</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>  
        <ion-col *ngIf="this.datasets.length !== 0">
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-content>
</ion-content>
