<!-- <ion-header>
  <ion-toolbar>
    <ion-title>manage-data</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>         
         <button class="btn third" style="margin-left: 75%;"><ion-icon slot="start" name="add"></ion-icon>  &nbsp; <span>Add data</span> </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="11">
          <hr class="hr-text" data-content="Dataset(s) List">
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-content>
</ion-content>
